nav {
  color: blue;
  text-align: center;
}

h1 {
  font-size: 24px;
  text-align: center;
}

h2 {
  font-size: 18px;
  text-align: center;
}

h3 {
  color: green;
  text-align: center;
}

section {
  text-align: center;
}

footer {
  color: gray;
  text-items: right;
}

/* align-items: center;
   text-align: center;
   justify-content: center;
*/
